{% extends 'layout.html.twig' %}

{% block content %}
<!--Feature property section-->
<div class="feature-property properties-list pt-130">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="single-property-details">
                    <div class="row">
                        <div>
                            <h3>{{ property.title }}</h3>
                            <div class="flexslider property-slider">
                                <ul class="slides">
                                    {% for image in property.images %}
                                        <li data-thumb="{{ asset('uploads/' ~ image)  }}">
                                            <img src="{{ asset('uploads/' ~ image) }}" />
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-property-description">
                        <div class="desc-title">

                            <h5>Description</h5>
                        </div>
                        <div class="description-inner">
                            <p>
                                {{ property.description|raw }}
                            </p>

                        </div>
                    </div>
                    <div class="condition-amenities">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="property-condition">
                                    <div class="condtion-title">
                                        <h5>Condition</h5>
                                    </div>
                                    <div class="property-condition-list">
                                        <ul>
                                            <li>
                                                <img src="{{ asset('img/property/icon-6.png') }}" alt="">
                                                <span>{{ property.livingSpace }} m² Superficie</span>
                                            </li>
                                            <li>
                                                <img src="{{ asset('img/property/icon-6.png') }}" alt="">
                                                <span>{{ property.fieldSpace }} m² Habitable</span>
                                            </li>
                                            <li>
                                                <img src="{{ asset('img/property/icon-7.png') }}" alt="">
                                                <span>Chambres : {{ property.bedroom }}</span>
                                            </li>
                                            <li>
                                                <img src="{{ asset('img/property/icon-8.png') }}" alt="">
                                                <span>Douche : {{ property.bathroom }}</span>
                                            </li>
                                            <li>
                                                <img src="{{ asset('img/property/icon-10.png') }}" alt="">
                                                <span>Cuisine : {{ property.kitchen }}</span>
                                            </li>

                                        </ul>
                                        <div>
                                            <p>
                                                <span class="price">
                                                {% if property.sale is not empty %}
                                                    {{ property.sale.price| number_format(0, ',', ' ') }} CFA
                                                    <br>
                                                    {% if property.sale.debate| number_format(0, ',', ' ') %}
                                                        A débattre
                                                    {% endif %}
                                                {% else %}
                                                    Loyer: {{ property.rental.monthly| number_format(0, ',', ' ') }} / Mois
                                                {% endif %}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="property-location">
                                            <p><img src="{{ asset('img/property/icon-5.png') }}" alt="">
                                                {{ property.location.title|title }} {{ property.subLocation|title }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="amenities">
                                    <div class="amenities-title">
                                        <h5>Commodités</h5>
                                    </div>
                                    <div class="amenities-list">
                                        <ul>
                                            {% for convenience in property.conveniences %}
                                                <li><i class="fa fa-check-square-o"></i> <span>{{ convenience.title }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="sidebar right-side">
                    <aside class="single-side-box search-property">
                        <div class="aside-title">
                            <h5>Recherchez une propriété</h5>
                        </div>
                        {{ render(controller('AppBundle\\Controller\\DefaultController::propertySearchAction')) }}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Feature property section end-->
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('js/jquery.mousewheel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.flexslider.js') }}"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $('.property-slider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
            var sliderPrice =  $( "#slider-price" );
            sliderPrice.slider({
                range: true,
                min: 0,
                step: 10000,
                max: 500000000,
                values: [ 0, 30000000 ],
                slide: function( event, ui ) {
                    $( "#appbundle_propertysearch_priceMin" ).val(  ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                }
            });
            $( "#appbundle_propertysearch_priceMin" ).val(  sliderPrice.slider( "values", 0 ) +
                " - " + sliderPrice.slider( "values", 1 ) );
            });
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}">
{% endblock %}