{% extends 'layout.html.twig' %}

{% block content %}
    <!--slider section start-->
    <div class="slider-container overlay">
        <!-- Slider Image -->
        <div id="mainSlider" class="nivoSlider slider-image">
            <img src="{{ asset('img/slider/22.jpg') }}" alt="" title="#htmlcaption1"/>
        </div>
        <!-- Slider Caption 1 -->
        <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
            <div class="display-table">
                <div class="display-tablecell">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slide1-text">
                                    <div class="middle-text">
                                        <div class="title-1 wow fadeUp" data-wow-duration="1.2s" data-wow-delay="0.1s">
                                            <h3>Voulez-vous acheter, louer ou vendre une maison?</h3>
                                        </div>
                                        <div class="title-2 wow fadeUp col-md-8" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                            <h1><span>IBOH COMPANY</span><br>
                                                vous accompagne jusqu'à la réalisation de votre projet </h1>
                                            <div class="contact-us wow fadeUp" data-wow-duration="1.5s"
                                                 data-wow-delay=".5s">
                                                <a href="{{ path('contact') }}">CONTACTEZ-NOUS</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--Find home area start-->

        <div class="finde-home-postion">
            <div class="container">
                <div class="find-home-box postion">
                    <div class="find-home-box-inner">
                        <div class="find-home-title">
                            <!-- INSERTION ZONE DE RECHERCHE-->
                            <aside class="single-side-box search-property">
                                <div class="aside-title">
                                    <h3>RECHERCHER UNE MAISON</h3>
                                </div>
                                {{ render(controller('AppBundle\\Controller\\DefaultController::propertySearchAction')) }}
                            </aside><!-- FIN INSERTION ZONE RECHERCHE-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Find home area end-->

    <!--slider section end-->

    <!--Services section start-->
    <div class="services-section ptb-50 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="section-title text-center">
                        <h3>Nos Services</h3>
                        {#<p>IBOH Company vous propose un accompagnement informatique à travers ses solutions web#}
                            {#<br>L'informatique est  aujourd'hui l'outil indispensable de votre entreprise <br> pour vous permettre d'exercer vos talents dans les meilleures conditions#}
                            {#<br>et profiter d'une excellente visibilté sur la toile</p>#}

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="single-services wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="single-services-img">
                            <img src="{{ asset('img/service/house-1.svg') }}" alt="">
                        </div>
                        <div class="single-services-desc">
                            <h5>Achetez un bien</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="single-services wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="single-services-img">
                            <img src="{{ asset('img/service/house.svg') }}" alt="">
                        </div>
                        <div class="single-services-desc">
                            <h5>Louez un bien</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="single-services wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="single-services-img">
                            <img src="{{ asset('img/service/house-key.svg') }}" alt="">
                        </div>
                        <div class="single-services-desc">
                            <h5>Gestion locative</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="single-services wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="single-services-img">
                            <img src="{{ asset('img/service/plant.svg') }}" alt="">
                        </div>
                        <div class="single-services-desc">
                            <h5>Vendez un bien</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Services section end-->
    <!--Services section end-->

    <!--Feature property section start-->
    <div class="property-area fadeInUp wow ptb-50" data-wow-delay="0.2s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature-property-title">
                        <h3>BIENS IMMOBILIERS DISPONIBLES</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="property-tab-menu">
                        <ul class="nav" role="tablist">
                            <li role="presentation" class="active"><a href="#sale" aria-controls="sale" data-toggle="tab">Vente</a></li>
                            <li role="presentation"><a href="#rent" aria-controls="rent" data-toggle="tab">Location</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row property-list-row">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="sale">
                        <div class="property-list">
                            {% for property in properties if property.sale is not null %}
                                <div class="col-md-4">
                                    <div class="single-property mb-40 fadeInUp wow" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                        <span>
                                            {% if property.sale is not null %}
                                                EN VENTE
                                            {% else %}
                                                LOCATION
                                            {% endif %}
                                        </span>
                                        <div class="property-img">
                                            <a href="{{ path('property_details', {id: property.id})  }}">
                                                <img src="{% if property.images is not empty %} {{ asset('uploads/' ~ property.images[0])  }} {% else %} {{ asset('img/property/7.jpg') }} {% endif %}"
                                                     alt="">
                                            </a>
                                        </div>
                                        <div class="property-desc">
                                            <div class="property-desc-top">
                                                <h6><a href="{{ path('property_details', {id: property.id})  }}">{{ property.title }}</a></h6>
                                                <div class="property-location">
                                                    <p><img src="{{ asset('img/property/icon-5.png') }}"
                                                            alt=""> {{ property.subLocation }}
                                                        , {{ property.location.title }}</p>
                                                </div>
                                                <h4 class="price">{% if property.sale is not null %}
                                                        {{ property.sale.price }} CFA
                                                    {% else %}
                                                        {{ property.rental.monthly }} CFA
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="property-desc-bottom">
                                                <div class="property-bottom-list">
                                                    <ul>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-1.png') }}" alt="">
                                                            <span>{{ property.fieldSpace }}</span> m²
                                                        </li>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-2.png') }}" alt="">
                                                            <span>{{ property.bedroom }}</span>
                                                        </li>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-3.png') }}" alt="">
                                                            <span>{{ property.bathroom }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="rent">
                        <div class="property-list">
                            {% for property in properties if property.sale is null %}
                                <div class="col-md-4">
                                    <div class="single-property mb-40 fadeInUp wow" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                        <span>
                                            {% if property.sale is not null %}
                                                EN VENTE
                                            {% else %}
                                                LOCATION
                                            {% endif %}
                                        </span>
                                        <div class="property-img">
                                            <a href="{{ path('property_details', {id: property.id})  }}">
                                                <img src="{% if property.images is not empty %} {{ asset('uploads/' ~ property.images[0])  }} {% else %} {{ asset('img/property/7.jpg') }} {% endif %}"
                                                     alt="">
                                            </a>
                                        </div>
                                        <div class="property-desc">
                                            <div class="property-desc-top">
                                                <h6><a href="{{ path('property_details', {id: property.id})  }}">{{ property.title }}</a></h6>

                                                <div class="property-location">
                                                    <p><img src="{{ asset('img/property/icon-5.png') }}"
                                                            alt=""> {{ property.subLocation }}
                                                        , {{ property.location.title }}</p>
                                                </div>
                                                <h4 class="price">{% if property.sale is not null %}
                                                        {{ property.sale.price }} CFA
                                                    {% else %}
                                                        {{ property.rental.monthly }} CFA / Mois
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="property-desc-bottom">
                                                <div class="property-bottom-list">
                                                    <ul>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-1.png') }}" alt="">
                                                            <span>{{ property.fieldSpace }}</span> m²
                                                        </li>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-2.png') }}" alt="">
                                                            <span>{{ property.bedroom }}</span>
                                                        </li>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-3.png') }}" alt="">
                                                            <span>{{ property.bathroom }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {#<div role="tabpanel" class="tab-pane fade" id="rent">#}
                        {#<div class="property-list">#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/4.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Friuli-Venezia Giulia</a></h6>#}
                                            {#<h4 class="price">$12,354</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 568 E 1st Ave, Miami</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/5.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Friuli-Venezia Giulia</a></h6>#}
                                            {#<h4 class="price">$92,354</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 568 E 1st Ave, Miami</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/6.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Radison de Villa</a></h6>#}
                                            {#<h4 class="price">$22,354</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 12 1st Ave, New Yourk</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/3.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Friuli-Venezia Giulia</a></h6>#}
                                            {#<h4 class="price">$52,334</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 568 E 1st Ave, Miami</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/8.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Radison de Villa</a></h6>#}
                                            {#<h4 class="price">$52,351</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 668 L 2nd Ave, Boston</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html"><img src="img/property/9.jpg" alt=""></a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Handson de Villa</a></h6>#}
                                            {#<h4 class="price">$62,354</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 568 E 1st Ave, Miami</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
        </div>
    </div>
    <!--Feature property section end-->


{% endblock %}