{% extends 'layout.html.twig' %}

{% block content %}
    <!--slider section start-->
    <div class="slider-container overlay">
        <!-- Slider Image -->
        <div id="mainSlider" class="nivoSlider slider-image">
            <img src="{{ asset('img/slider/22.jpg') }}" alt="" title="#htmlcaption1"/>
            <img src="{{ asset('img/slider/11.jpg') }}" alt="" title="#htmlcaption2"/>

        </div>
        <!-- Slider Caption 1 -->
        <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
            <div class="display-table">
                <div class="display-tablecell">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slide1-text">
                                    <div class="middle-text">
                                        <div class="title-1 wow fadeUp" data-wow-duration="1.2s" data-wow-delay="0.1s">
                                            <h3>Voulez-vous acheter, louer ou vendre une maison?</h3>
                                        </div>
                                        <div class="title-2 wow fadeUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                            <h1><span>IBOH COMPANY</span> vous accompagne jusqu'à la réalisation de votre projet </h1>
                                        </div>
                                        <div class="contact-us wow fadeUp" data-wow-duration="1.5s"
                                             data-wow-delay=".5s">
                                            <a href="{{ path('contact') }}">CONTACTEZ-NOUS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="htmlcaption2" class="nivo-html-caption slider-caption-1">
            <div class="display-table">
                <div class="display-tablecell">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slide1-text">
                                    <div class="middle-text">
                                        <div class="title-1 wow fadeUp" data-wow-duration="1.2s" data-wow-delay="0.1s">
                                            <h3> Voulez-vous acheter, louer ou vendre une maison??</h3>
                                        </div>
                                        <div class="title-2 wow fadeUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                            <h1><span>IBOH COMPANY</span>vous accompagne jusqu'à la réalisation de votre projet</h1>
                                        </div>
                                        <div class="contact-us wow fadeUp" data-wow-duration="1.5s"
                                             data-wow-delay=".5s">
                                            <a href="{{ path('contact') }}">CONTACTEZ-NOUS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="htmlcaption3" class="nivo-html-caption slider-caption-1">
            <div class="display-table">
                <div class="display-tablecell">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slide1-text">
                                    <div class="middle-text">
                                        <div class="title-1 wow fadeUp" data-wow-duration="1.2s" data-wow-delay="0.1s">
                                            <h3>Voulez-vous acheter, louer ou vendre une maison? ?</h3>
                                        </div>
                                        <div class="title-2 wow fadeUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                                            <h1><span>IBOH COMPANY</span> vous accompagne jusqu'à la réalisation de votre projet</h1>
                                        </div>

                                        <div class="contact-us wow fadeUp" data-wow-duration="1.5s"
                                             data-wow-delay=".5s">
                                            <a href="{{ path('contact') }}">CONTACTEZ-NOUS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--slider section end-->
    <!--Welcome Haven section-->
    <div class="welcome-haven">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="welcome-haven-img fadeInRight wow" data-wow-delay="0.2s">
                        <div class="welcome-title">
                            <h3 class="title-1">BIENVENUE A<span>  IBOH COMPANY </span></h3>
                            <h4 class="title-2"></h4>
                        </div>
                        <img src="{{ asset('img/service/quiSommesNous.png') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 welcome-pd fadeInLeft wow" data-wow-delay="0.2s">
                    <div class=" col-md-12 col-sm-12 col-xs-12">
                        <div class="welcome-content">
                            <p><span>Iboh Company</span> SARL, est une structure spécialisée dans le Bâtiments, la
                                fourniture d’équipements, l'intégration de solutions informatiques et dans la création de
                                projets d'investissements notamment dans la promotion immobilière.
                                IBOH COMPANY occupe une place de choix depuis sa création par son sérieux et son
                                savoir-faire professionnel dans le secteur l'immobilier.
                                S’appuyant sur une équipe pluridisciplinaires composée d’expert en projets management,
                                d’expert financier, d’ingénieurs, de techniciens, d’ouvriers qualifiés et expérimentés, et
                                également sur son professionnalisme, sa rigueur et son sérieux dans le travail mais surtout
                                le respect des engagements contractuels ; IBOH COMPANY n’a pas tardé à gagner la confiance
                                de nombreux acteurs privés et publics.
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Welcome Haven section end-->
    <!--Services section start-->
    <div class="services-section ptb-50 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center">
                        <h3>Nos Services</h3>
                        <p>.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="single-services wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="single-services-img">
                            <img src="{{ asset('img/service/house-1.svg') }}" alt="">
                        </div>
                        <div class="single-services-desc">
                            <h5>Achetez un bien</h5>
                            <p>Sed do eiumod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="single-services wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="single-services-img">
                            <img src="{{ asset('img/service/house.svg') }}" alt="">
                        </div>
                        <div class="single-services-desc">
                            <h5>Louez un bien</h5>
                            <p>Sed do eiumod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                        </div>
                    </div>
                </div>
                {#<div class="col-md-3 col-sm-3">#}
                    {#<div class="single-services wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">#}
                        {#<div class="single-services-img">#}
                            {#<img src="{{ asset('img/service/house-key.svg') }}" alt="">#}
                        {#</div>#}
                        {#<div class="single-services-desc">#}
                            {#<h5>Location</h5>#}
                            {#<p>Sed do eiumod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                <div class="col-md-4 col-sm-12">
                    <div class="single-services wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="single-services-img">
                            <img src="{{ asset('img/service/plant.svg') }}" alt="">
                        </div>
                        <div class="single-services-desc">
                            <h5>Vendez un bien</h5>
                            <p>Haven the best theme for  elit, sed do eiumod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Services section end-->
    <!--Services section end-->

    <!--Feature property section start-->
    <div class="property-area fadeInUp wow ptb-50" data-wow-delay="0.2s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="feature-property-title">
                        <h3>BIENS IMMOBILIERS DISPONIBLES</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="property-tab-menu">
                        <ul class="nav" role="tablist">
                            <li role="presentation" class="active"><a href="#sale" aria-controls="sale" data-toggle="tab">Vente</a></li>
                            <li role="presentation"><a href="#rent" aria-controls="rent" data-toggle="tab">Location</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row property-list-row">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="sale">
                        <div class="property-list">
                            {% for property in properties if property.sale is not null %}
                                <div class="col-md-4">
                                    <div class="single-property mb-40 fadeInUp wow" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                        <span>
                                            {% if property.sale is not null %}
                                                EN VENTE
                                            {% else %}
                                                LOCATION
                                            {% endif %}
                                        </span>
                                        <div class="property-img">
                                            <a href="single-properties.html">
                                                <img src="{% if property.images is not empty %} {{ asset('uploads/' ~ property.images[0])  }} {% else %} {{ asset('img/property/7.jpg') }} {% endif %}"
                                                     alt="">
                                            </a>
                                        </div>
                                        <div class="property-desc">
                                            <div class="property-desc-top">
                                                <h6><a href="single-properties.html">{{ property.title }}</a></h6>
                                                <div class="property-location">
                                                    <p><img src="{{ asset('img/property/icon-5.png') }}"
                                                            alt=""> {{ property.subLocation }}
                                                        , {{ property.location.title }}</p>
                                                </div>
                                                <h4 class="price">{% if property.sale is not null %}
                                                        {{ property.sale.price }} CFA
                                                    {% else %}
                                                        {{ property.rental.monthly }} CFA
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="property-desc-bottom">
                                                <div class="property-bottom-list">
                                                    <ul>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-1.png') }}" alt="">
                                                            <span>{{ property.fieldSpace }}</span> m²
                                                        </li>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-2.png') }}" alt="">
                                                            <span>{{ property.bedroom }}</span>
                                                        </li>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-3.png') }}" alt="">
                                                            <span>{{ property.bathroom }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="rent">
                        <div class="property-list">
                            {% for property in properties if property.sale is null %}
                                <div class="col-md-4">
                                    <div class="single-property mb-40 fadeInUp wow" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                        <span>
                                            {% if property.sale is not null %}
                                                EN VENTE
                                            {% else %}
                                                LOCATION
                                            {% endif %}
                                        </span>
                                        <div class="property-img">
                                            <a href="single-properties.html">
                                                <img src="{% if property.images is not empty %} {{ asset('uploads/' ~ property.images[0])  }} {% else %} {{ asset('img/property/7.jpg') }} {% endif %}"
                                                     alt="">
                                            </a>
                                        </div>
                                        <div class="property-desc">
                                            <div class="property-desc-top">
                                                <h6><a href="single-properties.html">{{ property.title }}</a></h6>

                                                <div class="property-location">
                                                    <p><img src="{{ asset('img/property/icon-5.png') }}"
                                                            alt=""> {{ property.subLocation }}
                                                        , {{ property.location.title }}</p>
                                                </div>
                                                <h4 class="price">{% if property.sale is not null %}
                                                        {{ property.sale.price }} CFA
                                                    {% else %}
                                                        {{ property.rental.monthly }} CFA / Mois
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="property-desc-bottom">
                                                <div class="property-bottom-list">
                                                    <ul>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-1.png') }}" alt="">
                                                            <span>{{ property.fieldSpace }}</span> m²
                                                        </li>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-2.png') }}" alt="">
                                                            <span>{{ property.bedroom }}</span>
                                                        </li>
                                                        <li>
                                                            <img src="{{ asset('img/property/icon-3.png') }}" alt="">
                                                            <span>{{ property.bathroom }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {#<div role="tabpanel" class="tab-pane fade" id="rent">#}
                        {#<div class="property-list">#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/4.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Friuli-Venezia Giulia</a></h6>#}
                                            {#<h4 class="price">$12,354</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 568 E 1st Ave, Miami</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/5.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Friuli-Venezia Giulia</a></h6>#}
                                            {#<h4 class="price">$92,354</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 568 E 1st Ave, Miami</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/6.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Radison de Villa</a></h6>#}
                                            {#<h4 class="price">$22,354</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 12 1st Ave, New Yourk</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/3.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Friuli-Venezia Giulia</a></h6>#}
                                            {#<h4 class="price">$52,334</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 568 E 1st Ave, Miami</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html">#}
                                            {#<img src="img/property/8.jpg" alt="">#}
                                        {#</a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Radison de Villa</a></h6>#}
                                            {#<h4 class="price">$52,351</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 668 L 2nd Ave, Boston</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-4">#}
                                {#<div class="single-property">#}
                                    {#<div class="property-img">#}
                                        {#<a href="single-properties.html"><img src="img/property/9.jpg" alt=""></a>#}
                                    {#</div>#}
                                    {#<div class="property-desc">#}
                                        {#<div class="property-desc-top">#}
                                            {#<h6><a href="single-properties.html">Handson de Villa</a></h6>#}
                                            {#<h4 class="price">$62,354</h4>#}
                                            {#<div class="property-location">#}
                                                {#<p><img src="img/property/icon-5.png" alt=""> 568 E 1st Ave, Miami</p>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="property-desc-bottom">#}
                                            {#<div class="property-bottom-list">#}
                                                {#<ul>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-1.png" alt="">#}
                                                        {#<span>550 sqft</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-2.png" alt="">#}
                                                        {#<span>6</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-3.png" alt="">#}
                                                        {#<span>4</span>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<img src="img/property/icon-4.png" alt="">#}
                                                        {#<span>3</span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
        </div>
    </div>
    <!--Feature property section end-->

    {#<!--Feature property section start-->#}
    {#<div class="property-area project-list-area fadeInUp wow ptb-50 bg-1" data-wow-delay="0.2s">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="feature-property-title">#}
                        {#<h3>NOS PROJETS</h3>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<div class="property-tab-menu">#}
                        {#<ul class="nav" role="tablist">#}
                            {#<li role="presentation" class="active"><a href="#sale" aria-controls="projects" data-toggle="tab">PROJETS</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="project-list row">#}
                {#<div class="container">#}
                    {#<div id="grid-container" class="single_property_list">#}
                        {#{% for project in projects %}#}
                            {#<div class="col-md-3 col-sm-4 col-xs-12 cbp-item {% for tag in project.tags %} {{ tag.title|lower|replace({' ': '-'}) }} {% endfor %}">#}
                                {#<div class="single_property mb-30">#}
                                    {#<div class="single_propert_img">#}
                                        {#<img src="{{ project.images[0] }}" alt="">#}
                                    {#</div>#}
                                    {#<div class="single_property-text">#}
                                        {#<div class="single_property_inner">#}
                                            {#<h4><a href="{{ path('detail_project', {id: project.id}) }}">{{ project.title }}</a></h4>#}
                                            {#<p>{{ project.subtitle }}</p>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endfor %}#}


                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<!--Feature property section end-->#}

{% endblock %}