{% extends 'layout.html.twig' %}

{% block content %}

    <!--My account start-->
    <div class="agent-details-page pt-130">
        <div class="agent-details">
            <div class="container">
                <form action="{{ path('update_user') }}" method="post">

                        <div class=" col-sm-12 col-xs-12">
                            <div class="profile-update">
                                <div class="profile-title">
                                    <h5>Information sur le profile</h5>
                                </div>
                                <div class="profile-desc">
                                    <div class="row">
                                        <div class="profile-top-form">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-type">
                                                    <label>Votre Nom</label>
                                                    <input name="lastname" type="text" placeholder="votre nom" value="{{ user.lastname }}">
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-type">
                                                    <label>Votre Prénoms</label>
                                                    <input name="firstname" type="text" placeholder="votre prénom" value="{{ user.firstname }}">
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-type">
                                                    <label>Email</label>
                                                    <input name="email" type="text" placeholder="Email " value="{{ user.email }}">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-type">
                                                    <label>Telehone</label>
                                                    <input name="phone" type="text" placeholder="Telephone" value="{{ user.phone }}">
                                                </div>
                                            </div>

                                            <div class="profile-top-form-bottom">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="input-type">
                                                        <label>Statut</label>
                                                        <input type="text" placeholder="votre statut" value="{{ user.statut }}">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-offset-6 col-sm-6 col-xs-12">
                            <div class="update-profile-submit">
                                <button type="submit">Appliquer </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class=" col-md-offset-1 col-sm-10 col-xs-12">
                    <div class="change-password mt-50">
                        <div class="col-md-12">
                            <div class="profile-title">
                                <h5>Changer Mot de Passe</h5>
                            </div>
                        </div>
                        <form action="{{ path('update_user') }}" method="post">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="input-type">
                                    <label>Ancien Mot de Passe</label>
                                    <input name="former" type="password" placeholder="Entrer l'ancien mot de passe">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="input-type">
                                    <label>Nouveau Mot de Passe</label>
                                    <input name="plainPassword" type="password" placeholder="Entrer le nouveau mot de passe">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="input-type">
                                    <label>Confirmer Nouveau de Passe</label>
                                    <input name="confirm" type="password" placeholder=" Confirmer le mot de passe">
                                </div>
                            </div>
                            <div class="col-md-offset-6 col-sm-6 col-xs-12">
                                <div class="update-profile-submit">
                                    <button type="submit">Appliquer </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My account end-->
{% endblock %}